<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Barnabas Nomo">

    <title>Create A Blog</title>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=rllixmhtwfwhfrwip425rdwogb2uw0uji0dicejj2gjvqzqm"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/clean-blog.min.css" rel="stylesheet">
    <script>
        tinymce.init({
            selector: '#content',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright ' +
            'alignjustify | bullist numlist outdent indent | link image code insertfile',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css']
        });
    </script>

</head>
<body style="overflow-x: hidden">
<% include templates/preloader.ejs %>
<header class="intro-header text-center"
        style="background-image: url(<%=quote.background%>); margin: 0 auto; width: 80vw; object-fit: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 style="text-transform: capitalize;">Create a Blog</h1>
                    <h2 class="subheading">Welcome <%=user.firstname%></h2>
                    <p>Here is your <%= quote.title %> by <%=quote.author%></p>
                    <span class="meta"><%= quote.quote %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container" style="background-color: #fff">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form name="sentMessage" id="contactForm" novalidate method="post" action="/!admin/dashboard/blog/create">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="Title" id="title" name="title" required data-validation-required-message="Please enter a title.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="Description" id="description" name="description" required data-validation-required-message="Please enter description.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls form-inline">
                            <label>Categories</label>
                            <input type="checkbox" class="form-control" value="technology" name="categories" id="categories" required data-validation-required-message="Please choose a category."><small> Technology</small>
                            <input type="checkbox" class="form-control" value="society" id="categories" name="categories" required data-validation-required-message="Please choose a category."><small> Society</small>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Content</label>
                            <textarea rows="5" class="form-control" placeholder="Content" id="content"
                                      name="content"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls form-inline">
                            <label>Publish</label>
                            <input type="radio" class="form-control" value="yes" name="publish" id="publish" required data-validation-required-message="Please choose a category."><small> Yes</small>
                            <input type="radio" class="form-control" value="no" id="publish" name="publish" checked required data-validation-required-message="Please choose a category."><small> No</small>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <h1>TEST!!!!</h1>
        <form method="post" action="/!admin/dashboard/blog/upload-file" enctype="multipart/form-data">
            <input type="file" class="form-control" name="image">
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
        <hr>

        <div class="col-sm-12 text-center" style="background-color:#fff;">
            <p class="lead" style="margin-top: 0;">
                <a href="#top" class="footer-text" style="color: darkred; font-size: small; text-decoration: none;">
                    <i class="fa fa-globe" style="margin-right: 10px;"></i> The World Is Yours
                </a>
            </p>
        </div>
    </div>


</article>

<script src="/javascripts/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>

<script src="/javascripts/jqBootstrapValidation.js"></script>

<script src="/javascripts/clean-blog.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>