<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= blog.description %>">
    <meta name="author" content="Barnabas Nomo">

    <title><%= blog.title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/clean-blog.min.css" rel="stylesheet">
    <link href="/stylesheets/prism.css" rel="stylesheet">

</head>
<body style="overflow-x: hidden">
<% include templates/preloader.ejs %>
<header class="intro-header text-center"
        style="background-image: url('/images/post-bg.jpg'); margin: 0 auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 style="text-transform: capitalize;"><%- blog.title %></h1>
                    <h2 class="subheading"><%= blog.description %></h2>
                    <span class="meta">Posted by <a href="#"><%= blog.author %></a> on <span><%= blog.date %>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container" style="background-color: #fff">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p><%- blog.content %></p>
            </div>
        </div>
        <hr>
        <ul class="pager text-center">
            <li class="prev">
                <a href="/blog">back to blogs</a>
            </li>
        </ul>
        <div class="col-sm-12 text-center" style="background-color:#fff;">
            <% include templates/social.ejs %>
            <p class="lead" style="margin-top: 0">
                <a href="#top" class="footer-text" style="color: darkred; font-size: small; text-decoration: none;">
                    <i class="fa fa-globe" style="margin-right: 10px;"></i> The World Is Yours
                </a>
            </p>
        </div>
    </div>


</article>

<script src="/javascripts/jquery.min.js"></script>

<script src="/javascripts/clean-blog.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>

<script src="/javascripts/jqBootstrapValidation.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/prism.js"></script>

</body>
</html>